<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="mt-5">Hanif Bookstore Login</h1>
                
                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid username and password.
                </div>
                
                <div th:if="${param.logout}" class="alert alert-success">
                     Log out successfull
                </div>
                
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" required/>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" required/>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                
                <p class="mt-3">
                    Sign in test users:<br/>
                    User: user / 123 (Role: USER)<br/>
                    Admin: admin / 321 (Role: ADMIN)
                </p>
            </div>
        </div>
    </div>
</body>
</html>